apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: user
  namespace: d34d-shippy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
        containers:
        - name: user-service
          image: registry.gitlab.com/d34d-shippy/shippy-user-service:latest
          imagePullPolicy: Always
          command: [
            "./shippy-user-service",
            "--selector=static",
            "--server_address=:8080"
          ]
          env:
          - name: DB_HOST
            value: "postgres-postgresql:5432"
          - name: DB_NAME
            value: "postgres"
          - name: DB_PASS
            value: "Nkb2czH4Uc"
          - name: DB_USER
            value: "postgres"
          - name: UPDATED_AT
            value: "{{ UPDATED_AT }}"
          ports:
          - containerPort: 8080
            name: user-port
